
<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col text-left text-camelcase">
            <h2>Cursos:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="./assets/img/1.jpg" alt="Foto del puente">
                    <div class="card-body">
                        <div class="badges">
                            <span class="text-dark badge badge-warning">01/02/2022</span>
                        </div>
                        <h5 class="card-title">Curso de Mecanica</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="assets/img/1.jpg" alt="Foto del Volcan">
                    <div class="card-body">
                        <div class="badges">
                            <span class="text-dark badge badge-info">12/02/2022</span>
                        </div>
                        <h5 class="card-title">Curso de Física</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="assets/img/1.jpg" alt="Foto de Sacha">
                <div class="card-body">
                    <div class="badges">
                        <span class="text-dark badge badge-warning">01/02/2022</span>
                    </div>
                    <h5 class="card-title">Curso de vibraciones y Ondas</h5>
                   
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/1.jpg" alt="Foto de Sacha">
                <div class="card-body">
                    <div class="badges">
                        <span class="text-dark badge badge-warning">01/02/2022</span>
                    </div>
                    <h5 class="card-title">Curso de Mecanica de Fluidos</h5>
                   
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/1.jpg" alt="Foto de Sacha">
                <div class="card-body">
                    <div class="badges">
                        <span class="text-dark badge badge-warning">01/02/2022</span>
                    </div>
                    <h5 class="card-title">Curso de Mecánica.</h5>
                    
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/1.jpg" alt="Foto de Sacha">
                <div class="card-body">
                    <div class="badges">
                        <span class="text-dark badge badge-warning">01/02/2022</span>
                    </div>
                    <h5 class="card-title">Curso de Vibraciones y Ondas</h5>
                    
                </div>
            </div>
        </div>

        </div>
    </div>
</section>
