
<div class="mt-auto mb-auto">
    <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 w-100 contenedor-image">
        <div>
            <img 
            src="http://www.unicauca.edu.co/innovaccioncauca/sites/default/files/IMAGENES_GENERAL/logo-universidad-cauca_transparente.png" class="img-fluid"
            alt="icono"
        />
        </div>
    </div>
    <div class="contenedor-login px-lg-5 py-lg-4 p-4 w-100">
        <h1 class="text-light mb-4">Plataforma de Laboratorios</h1>
        <!-- <form class="mb-5">
            <div class="mb-4">
              <label for="exampleInputEmail1" class="form-label font-weight-bold">Email</label>
              <input type="email" class="form-control bg-dark-x border-0" placeholder="Ingresa tu email" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-4">
              <label for="exampleInputPassword1" class="form-label font-weight-bold">Contraseña</label>
              <input type="password" class="form-control bg-dark-x border-0 mb-2"  placeholder="Ingresa tu contraseña" id="exampleInputPassword1">
              <a href="#" id="emailHelp" class="form-text text-muted text-decoration-none">¿Has olvidado tu contraseña?</a>
            </div>
            <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
        </form> -->
        <p class="font-weight-bold text-center text-muted">Inicia sesión con: </p>
        <div class="d-flex justify-content-around">
            <button type="submit" class="btn btn-outline-light w-100 m-2" (click)="signInWithGoogle()"><i class="fab fa-google lead m-2"></i>Google</button>
        </div>
    </div>
</div>
    <!-- <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 w-100 mt-auto">
        <p class="d-inline-block mb-0">¿Todavia no tienes una cuenta?</p>
        <a href="#" class="font-weight-bold text-light text-decoration-none"> Crea una ahora</a>
    </div> -->
  



