<div class="container-fluid justify-content-center">
    <h1 class="text-center">Laboratorio de Mecanica</h1>
    <div class="row">
        <div class="col-12">
            <hr>
            <h2>Titulo de la practica</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <ul class="list-group p-3">
                <li class="list-group-item list-group-item-success">En proceso</li>
                <li class="list-group-item list-group-item-dark">Realizado</li>
                <li class="list-group-item list-group-item-warning">Pendiente</li>
                <li class="list-group-item list-group-item-danger">No disponible</li>
              </ul>
        </div>
        <div class="col-9 row">
            <div class="col-12 p-3 m-1 calendario-container">
                <app-calendario-eventos></app-calendario-eventos>
            </div>
            <div class="col-13 p-3 m-1">
                <h3>Practicas presentadas:</h3>
                <hr>
                <div class="card bg-secondary border-0 m-1">
                    <div class="card-body row">
                        <div class="col-7">
                            <h3>Grupo 1.</h3> 
                        </div>
                        <div class="col-5 d-flex justify-content-end">
                            <button type="button" class="btn btn-success justify-content-end m-2">Descargar</button>
                            <button type="button" class="btn btn-primary justify-content-end m-2">Ver datos</button>
                        </div>
                    </div>
                </div>
                <div class="card bg-secondary border-0 m-1">
                    <div class="card-body row">
                        <div class="col-7">
                            <h3>Grupo 1.</h3> 
                        </div>
                        <div class="col-5 d-flex justify-content-end">
                            <button type="button" class="btn btn-success justify-content-end m-2">Descargar</button>
                            <button type="button" class="btn btn-primary justify-content-end m-2">Ver datos</button>
                        </div>
                    </div>
                </div>
                <div class="card bg-secondary border-0 m-1">
                    <div class="card-body row">
                        <div class="col-7">
                            <h3>Grupo 1.</h3> 
                        </div>
                        <div class="col-5 d-flex justify-content-end">
                            <button type="button" class="btn btn-success justify-content-end m-2">Descargar</button>
                            <button type="button" class="btn btn-primary justify-content-end m-2">Ver datos</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>