/* You can add global styles to this file, and also import other style files */
:root {
    --colorPrimary: #1A374D;
    --dark-x: #1e2126;
}
html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Spartan', sans-serif !important;
    font-weight: 300;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
