/* You can add global styles to this file, and also import other style files */
:root {
    --colorPrimary:rgb(20, 22, 83);
    --dark-x: #ffffff;;
}

/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Spartan', sans-serif !important;
    font-weight: 300;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
}
