<h1>Agregar Taller</h1>

<div class="abs-center">
  <form  class="example-form"  [formGroup]="form" (ngSubmit)="onSubmit()" >
<!--
    <div class="form-group row">
      <label for="my-input" class="col-form-label col-sm-8">Titulo</label>
    </div>

    <div class="form-group row">
      <mat-form-field appearance="fill" >
      <mat-label>titulo</mat-label>
      <input type="text" matInput placeholder="Name"  formControlName="titulo"  name="titulo">
      </mat-form-field>
    </div>

    <div class="form-group row">
        <label for="my-input" class="col-form-label col-sm-8">Descripcion</label>
    </div>
  
      <div class="form-group ">
        <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>descripcion</mat-label>
        <textarea  type="text" matInput placeholder=""  formControlName="descripcion"  name="descripcion"></textarea>
        </mat-form-field>
      </div>

      <div class="form-group row">
        <label for="my-input" class="col-form-label col-sm-8">Instruciones  de practica</label>
      </div>

  
      <div class="form-group row">
        <label for="my-input" class="col-form-label col-sm-8">Camaras</label>
      </div>
  
      <div class="form-group row">
        <mat-form-field appearance="fill">
        <mat-label>sensores</mat-label>
        <input type="text" matInput placeholder=""  formControlName="sensores"  name="sensores">
        </mat-form-field>
      </div>
-->

      
<div class="form-group row">
  <label for="my-input" class="col-form-label col-sm-8">Documentos</label>
</div>

<div class="form-group row">
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Documentos</mat-label>
    <mat-chip-list #chipList2 aria-label="documentos">
      <mat-chip *ngFor="let documento of documentos" (removed)="removeDocumento(documento)">
        {{documento.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input 
            formControlName="documentos"
            placeholder="Documento para la practica..."
            [matChipInputFor]="chipList2"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addDocumento($event)">    
    </mat-chip-list>
  </mat-form-field>
</div>

      <div class="form-group row">
        <label for="my-input" class="col-form-label col-sm-8">Camaras</label>
      </div>
  
      <div class="form-group row">
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Direcciones Ip</mat-label>
          <mat-chip-list #chipList aria-label="Ips">
            <mat-chip *ngFor="let camara of camaras" (removed)="removeCamara(camara)">
              {{camara.name}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input 
                  formControlName="IpCamamra"
                  placeholder="New Ip..."
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addCamara($event)">    
          </mat-chip-list>
        </mat-form-field>
      </div>

      <div class="form-group row">
        <label for="my-input" class="col-form-label col-sm-8">Fecha Inicio - Fecha Final</label>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Ingrese rango</mat-label>
        <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
          <input matStartDate lass="col-form-label col-sm-8" formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
         </mat-date-range-input>
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

    <div class="form-group row">
      <h4> Tema</h4>
      <mat-form-field appearance="fill">
        <mat-label> Elije Tema </mat-label>
        <mat-select  formControlName="tema" name="tema">
          <mat-option *ngFor="let topic of topics.topics" value="{{topic.id}}">  
           {{topic.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div *ngIf= "form.get('tema')?.value == '0lqQTwVkz6t5i8PiCJFR'">
      <div class="form-group row">
        <label for="my-input" class="col-form-label col-sm-8">Variables </label>
      </div>

      <div class="form-group row">
        <label for="my-input" class="col-form-label col-sm-8"> Angulo </label>
      </div>
      <div class="form group row">
        <mat-form-field appearance="fill">
          <mat-label>Toppings</mat-label>
          <mat-select [formGroup]="form" multiple formControlName="variables" name="variables">
            <mat-option *ngFor="let topping of toppingListsangle " [value]="topping">
              {{topping}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group row">
        <label for="my-input" class="col-form-label col-sm-8">Velocidad </label>
      </div>
  
      <div class="form group row">
        <mat-form-field appearance="fill">
          <mat-label>Toppings</mat-label>
          <mat-select [formGroup]="form" multiple  formControlName="variables2" name="variables2">
            <mat-option *ngFor="let topping of toppingListspeed" [value]="topping">
              {{topping}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>



    <div *ngIf= "form.get('tema')?.value == 'w1VXVZqsimm4vogCCQVC' ">
      <div class="form-group row">
        <label for="my-input" class="col-form-label col-sm-8">Variables </label>
      </div>

      <div class="form-group row">
        <label for="my-input" class="col-form-label col-sm-8"> Peso </label>
      </div>
      <div class="form group row">
        <mat-form-field appearance="fill">
          <mat-label>Toppings</mat-label>
          <mat-select [formGroup]="form" multiple formControlName="variables" name="variables">
            <mat-option *ngFor="let topping of toppingListsweight " [value]="topping">
              {{topping}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf= "form.get('tema')?.value == 't8BG5qizsNXdZobuORtt' ">

      <div class="form group row">
        <input formControlName="variables" name="variables" type="hidden" value="0">
      </div>
    </div>
    <button type="submit" class="btn btn-success"> 
      <mat-icon>
        edit
      </mat-icon>
      guardar
    </button>
  </form>
</div>