<!-- <ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Registrar Materia</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="save($event)"  >
            <h6>
              Nombre : 
              <input matInput  type="text" formControlName="name" FormControl="name">
            </h6>
            <div class="error" *ngIf="form.get('name')?.errors && form.get('name')?.touched">
              Nombre requerido
            </div>
            <h6>
              Fecha de Inicio:
              <input type="date" formControlName="start">
            </h6>
            <div class="error" *ngIf="form.get('start')?.errors && form.get('start')?.touched">
              Fecha requerida
            </div>
            <h6>
                Fecha final:
              <input type="date" formControlName="end">
            </h6>
            <div class="error" *ngIf="form.get('end')?.errors && form.get('end')?.touched">
              Fecha requerida
            </div>
            <h6>
              Tematica:
              <select formControlName="subject_id">
                <option value="1">{{subjectsss.subjects[0].subjectName}}</option>
                <option value="2">{{subjectsss.subjects[1].subjectName}}</option>
                <option value="3">{{subjectsss.subjects[2].subjectName}}</option>
              </select>
            </h6>
            <div class="error" *ngIf="form.get('subject_id')?.errors && form.get('subject_id')?.touched">
              Materia requerida
            </div>
            <button type="submit" class="btn btn-success" >Guardar</button> 
          </form>
    </div>
    <div class="modal-footer"> 
        <button type="button" class="btn btn-danger"(click)="modal.close()">Cancelar</button>
    </div>
</ng-template>

<section>
    <button type="button" class="nav-link active" style="float: right;" (click)="openSM(contenido)">Crear Materia</button>
</section> -->

<h1>Agregar curso</h1>

<div class="row justify-center">
  <div class="col-8">
    <form class="example-form">

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com">
        <mat-hint>Errors appear instantly!</mat-hint> 
      </mat-form-field>


    
    </form>
    <button mat-button color="warn">
      Guardar
    </button>
  </div>
</div>