<mat-sidenav-container class="container-home" fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidenav.toggle()" color="">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="./cuenta"
               mat-list-item
               (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <span>Cuenta</span>
            </a>
            <a (click)="path()" routerLink="./listado/{{dato}}"
               mat-list-item
               (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <span> Listado de Cursos</span>
            </a>
            <a routerLink="./agregar"
               mat-list-item
               (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Crear Curso</span>
            </a>
        </mat-nav-list>   
    </mat-sidenav>

    <mat-toolbar>
        <button mat-button
                (click)="sidenav.toggle()" color="">
            <mat-icon>menu</mat-icon>
            Menu
        </button>
        <div class="photoUser">
            <img class="photoUser" src="{{photoUser}}" alt="">
        </div>
        <div class="m-1">
            <h6>{{nameUser}}</h6> 
        </div>
        
        <span class="spacer"></span>
        <button mat-button color="info" (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
            Cerrar Sesión
        </button>
    </mat-toolbar>

    <div class="contenido">
        <router-outlet></router-outlet>
    </div>
    
<!-- Footer -->
<div>
    <footer class="page-footer font-small blue pt-4">
    
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 class="text-uppercase">Unversidad del cacuca</h5>
              <div>
                <img 
                src="http://www.unicauca.edu.co/innovaccioncauca/sites/default/files/IMAGENES_GENERAL/logo-universidad-cauca_transparente.png" class="img-fluid"
                alt="icono"
                width="70"
                height="50"
            />
            </div>
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>
      
                <h6>En caso de dudas, inquietudes o problemas técnicos
                    puede comunicarse con la División de Tic.
                    Telefono: 8209800 ext. 55
                    Correo electrónico: moodleunicauca@unicauca.edu.co
                    
                    Basado en un tema original creado por Shaun Daubney | moodle.org</h6>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
        
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="http://www.unicauca.edu.co">UNICAUCA</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
    </div>
</mat-sidenav-container>


