<h1>Cursos: </h1>
<mat-divider fullscreen></mat-divider>
<br>
<div fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px"
     >
    <div fxFlex="20"
         fxFlex.sm="45"
         fxFlex.md="30"
         *ngFor="let curso of cursos">
        
         <mat-card >
            <mat-card-header>
                <mat-card-title> {{curso.name}} </mat-card-title>
                <mat-card-subtitle> Codigó de acceso: <strong> {{curso.accessKey}} </strong></mat-card-subtitle>
            </mat-card-header>

            <!-- <img mat-card-image src="" alt=""> -->
            <mat-divider></mat-divider>
            <br>
            <mat-card-content>
                <p>Fecha de inicio: {{curso.start_date}}</p>
                <p>Fecha de finalización: {{curso.end_date}}</p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <button mat-button color="warn">
                    Eliminar
                </button>
                <button mat-button color="info">
                    <a routerLink='/workshops/listadoworkshops/{{curso.id}}'>Abrir</a>
                </button>
            </mat-card-actions>
        </mat-card>
    </div> 
</div> 
